.wishlist-page {
	padding: 50px 200px;

	&__actions {
	}
}
.wishlist {
	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		gap: 30px;
	}
}
.wishlist-item {
	&__image {
		flex: 0 0 150px;
		height: 220px;

		img {
		vertical-align: top;
		object-fit: cover;
		object-position: center;
		width: 100%;
		height: 100%;
		}
	}
	&__main-info {
		padding-right: 200px;
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	&__price-actions {
	}
	&__price-rating {
	}
	&__actions {
		display: flex;
		gap: 10px;
		margin-top: 20px;
	}
}
.title-lv-3 {
}
.description {
}
.product-cart {
	&__amount {
	}
	&__rating {
	}
}
.btn {
}
.btn_green {
}
.btn_small {
}
