$main-color-green: #3CB878;
$main-color-black: #121212;
$main-title-color: #333333;
$main-grey-color: #888888;
$purple-color-1: #34394F;
$purple-color-2: #2E3348;
$purple-color-3: rgba(46, 51, 72, .7);
$grey-color-1: #F5F6F9;
$grey-color-2: rgba(103, 128, 159, 1);
$grey-color-3: #EEEEEE;
$grey-color-4: #777777;
$grey-color-5: #C3C3C5;
$orange-color-1: #FF9600;

$black-color-2: #232323;
